.container {
	width: 100%;
	max-width: 320px;
	margin:0 auto;
	text-align: center;
	padding: 0 10px;
}

h1 {
	font-size: 30px;
	margin: 20px 0; 
}

form {
	margin: 0 auto;
}

fieldset{
	margin:10px 0;
	padding:0;
	border: 0 none;
}

input[type="text"],
input[type="select"],
input[type="password"],
input[type="email"] {
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	width: 100%;
	height: 50px;
	margin:0;
	padding:0 20px;
}

form.submit input[type="text"]:required:invalid,
form.submit input[type="select"]:required:invalid,
form.submit input[type="password"]:required:invalid,
form.submit input[type="email"]:required:invalid{
	border: 1px solid red;
}

button{
	width: 100%;
	height: 50px;
	text-transform: uppercase;
}


#output-message.success{
	border: 1px solid green;
}

#output-message.error{
	border: 1px solid red;
}


@media only screen and (min-width : 321px) {

	.container {
		max-width: 450px
	}

	}

