<!-- <div account-header-component no-language></div> -->

<div class="receipt">
    <div class="row">
        <div class="success"></div>
        <div class="content">
			<h1 ng-if="selectedTerm.type == 'registration'" class="you-already-have-access"><t>Thank you for supporting Epicurious!</t></h1>
            <h1 ng-if="isPaymentTerm(selectedTerm)" class="you-already-have-access"><t>Thanks for your purchase!</t></h1>
            <h1 ng-if="isExternalTerm(selectedTerm)" class="you-already-have-access"><t>Your access was successfully verified!</t></h1>

          	<div ng-if="selectedTerm.type == 'registration'" class="row">
              <div class="col-lg-3">
                <a href="http://www.epicurious.com/recipes-menus" target="_parent">RECIPES & MENUS</a>
              </div>
              <div class="col-lg-3">
                <a href="http://www.epicurious.com/expert-advice"  target="_parent">EXPERT ADVICE</a>
              </div>
              <div class="col-lg-3">
                <a href="http://www.epicurious.com/ingredients"  target="_parent">INGREDIENTS</a>
              </div>
              <div class="col-lg-3">
                <a href="http://www.epicurious.com/holidays-events" target="_parent">HOLIDAYS & EVENTS</a>
              </div>
            </div>




            <span ng-if="isPaymentTerm(selectedTerm)"><t>You just purchased</t> <span class="bold resource-name">{{selectedTerm.resource.name | tc:'resource.name'}}.</span></span><br/>
            <span ng-if="isExternalTerm(selectedTerm)"><t>You just got access to <span class="bold">{{selectedTerm.resource.name | tc:'resource.name'}}.</span></t></span><br/>
            <span ng-if="isPaymentTerm(selectedTerm)"><t><span>Your <span class="bold payment-method">{{getSelectedPaymentMethodName()}}</span> has been charged.</span> An email confirmation has been sent to
            <a class="mail" href="javascript:void(0);">{{user.email}}</a></t></span>

        </div>
        <div class="access-footer">
            <div class="access-footer-content">
                <div class="access-button">
                    <div close-button title="{{'Close'|t}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
